telebot
telegram
beautifulsoup4
requests
chardet==4.0.0
fpdf==1.7.2
reportlab==3.5.67
nltk==3.6.3
numpy
beautifulsoup4
randomizer
chardet
fpdf
nltk
numpy
beautifulsoup4
reportlab
Pypdf2
cairosvg
weasyprint
pdfkit
wkhtmltopdf
PyMuPDF